@charset "UTF-8";

html {
  font-size: 100%;
}
body {
	font-family: 'Noto Serif JP', serif;
	font-weight: 400;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}


.section-title {
	font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.03em;
	padding-bottom: 0.5em;
}
.wrapper {
  max-width: 1180px;
  padding: 0 30px;
  margin: 0 auto;
}
.container {
	background: linear-gradient(180deg, #09285E 0%, #5F0E19 100%);
  color: #fff;
  text-align: center;
}

/*SP用*/
/*-------------------------------------------
drawer
-------------------------------------------*/
#g-nav{
    position:fixed;
    z-index: 999;
	top:0;
    right: -120%;
	width:40%;
    height: 100vh;
	background:#000;
	transition: all 0.6s;
}

#g-nav.panelactive{
    right: 0;
}

#g-nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#g-nav li{
	margin-top: 20px;
}

#g-nav li a{
	color: #999;
	text-decoration: none;
	padding:10px;
	display: block;
	letter-spacing: 0.1em;
	font-family: 'Playfair Display', serif;
	font-weight: 500;
}
/*menuボタン*/
.openbtn{
	position:fixed;
    z-index: 9999;
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}

.openbtn.active img{
	display: none;
}

.openbtn.active span{
    display: inline-block;
    position: absolute;
    left: 14px;
    height: 1px;
	background-color: #FFFFFF;
  	width: 45%;
  }


.openbtn.active span:nth-of-type(1){
	top: 18px;
    left: 18px;
	transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual .top_bg {
	height: 100vh;
	background: url("../img/bg_top_sp.jpg")no-repeat center center /cover;
}

#mainvisual .top_ttl {
	writing-mode: vertical-rl;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 0.5em;
	margin: 0 auto;
	padding-top: 30vh;
	
}

#mainvisual .top_date {
	padding-top: 3.2em;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}
#mainvisual .top_date span{
	padding-left: 1em;
	font-size: 1.25rem;
}
/*-------------------------------------------
Information
-------------------------------------------*/
#information {
	margin-top: 180px;
}

#information .info_bg{
	height: auto;
	width: 100vw;
	background: url("../img/info.jpg")no-repeat center center /cover;
}

#information .bg-bk{
	width: 80%;
	background-color: rgba(0,0,0,0.35);
	margin: 0 auto;
}

#information .info_txt{
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.5;
	letter-spacing: 0.2em;
	margin: 0 auto;
	text-align: left;
	padding: 56px;
}

#information .info_date{
	width: 80%;
	margin: 0 auto;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	padding-bottom: 56px;
}
#information .info_date span{
	font-size: 1.25rem;
	padding-left: 1rem;
}

/*-------------------------------------------
Gallery
-------------------------------------------*/
#gallery {
  margin-bottom: 480px;
  padding: 0;
}

#gallery .list {
 position: relative;
 max-width: 375px;
 width: clamp(23.438rem, 12.431rem + 46.961vw, 50rem);
 height: clamp(50rem, 37.569rem + 53.039vw, 80rem);
 overflow: hidden;
 margin: 0 auto;
}

#gallery .list li {
  position: absolute;
  object-fit: cover;

}
#gallery .list li.flower1{
  bottom: 0;
  right: -32px;
  width: clamp(13rem, 4.927rem + 24.309vw, 24.375rem);
  transition: all .3s ease;
}
.flower_text {
  font-size: 1.125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .5s ease;
}
#gallery .list li :hover {
  filter: grayscale(1);
}

#gallery .list li:hover .flower_text {
  opacity: 1;
}

#gallery .list li.flower2{
  bottom: 0;
  left: -40px;
  width: clamp(14.5rem, 6.414rem + 25.967vw, 27.188rem);
  transition: all .3s ease;
}

#gallery .list li.flower3{
  bottom: 89px;
  right: -38px;
  width: clamp(16rem, 13.37rem + 28.287vw, 36rem);
  transition: all .3s ease;
}

#gallery .list li.flower4{
  left: -57px;
  bottom: 140px;
  width: clamp(16.25rem, 10.345rem + 25.193vw, 30.5rem);
  transition: all .3s ease;
}

#gallery .list li.flower5 {
  right: -69px;
  top: 253px;
  width: clamp(16.25rem, 11.2rem + 21.547vw, 28.438rem);
  transition: all .3s ease;
}
	
#gallery .list li.flower6 {
    left: -39px;
    top: 205px;
    width: clamp(21.25rem, 15.138rem + 26.077vw, 36rem);
    transition: all .3s ease;
}

#gallery .list li.flower7 {
  right: -77px;
  top: 80px;
  width: clamp(16.25rem, 11.381rem + 20.773vw, 28rem);
  transition: all .3s ease;
}

#gallery .list li.flower8 {
  left: -30px;
  top: 79px;
  width: clamp(13.5rem, 7.942rem + 19.448vw, 23.5rem);
  transition: all .3s ease;
}


#gallery .list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-------------------------------------------
Access
-------------------------------------------*/
#access {
text-align: left;
}
#access .place {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 20px;
}
#access .access_txt {
  margin-bottom: 20px;
}

#access iframe {
	width: 100%;
	max-width: 700px;
	aspect-ratio: 16/9;

}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact {
  margin-bottom: 200px;
  position: relative;
  z-index: 20;
}
#contact .btn {
  width: 400px;
  border: solid 1px #7d7d7d;
  color: #fff;
  display: block;
  padding: 30px 0;
  margin: 0 auto 20px auto;
  position: relative;
  transition: 0.3s;
}
/*
Button Arrow
*/
#contact .btn::before,
#contact .btn::after {
  content: '';
  position: absolute;
  right: -40px;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
#contact .btn::before {
  width: 120px;
  top: 48px;
}
#contact .btn::after {
  width: 15px;
  top: 45px;
  transform: rotate(25deg);
}
#contact .btn:hover {
  opacity: 0.7;
}
#contact .btn:hover::before,
#contact .btn:hover::after {
  right: -50px;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
footer{
  width: 100%;
  height: 556px;
  background-color: black;
}

footer .logo{
  margin: 0 auto ;
  padding-top: 48px;
  font-size: 24px;
  width: 48px;
  line-height: 1;
}

footer .fot_nav{
  margin: 26px auto 0;
}

footer .fot_nav.mn{

}

footer .fot_nav.mn p{
margin-top: 40px;
}

footer .fot_nav.mn p a{
  font-size: 15px;
}

footer .fot_nav.sn{
  display: flex;
  justify-content: space-around;
  margin-top: 47px;
  width: 73.6%;
}

footer .fot_nav.sn p{
  width: 66px;
}

footer .fot_nav.sn p a{
  font-size: 14px;
}

footer .comp{
  font-size: 9px;
  margin: 45px auto 0;
}

/*PC用*/
@media only screen and (min-width:960px) {
/*-------------------------------------------
drawer
-------------------------------------------*/
#g-nav{
	width:20%;
}
/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual .top_bg {
	height: 100vh;
	background:  url("../img/bg.jpg")no-repeat center center /cover;}

#mainvisual .top_ttl {
	font-size: 3rem;
}

#mainvisual .top_date {
	padding-top: 3.2em;
	font-size: 1.5rem;
}
#mainvisual .top_date span{
	padding-left: 1em;
	font-size: 1.75rem;
}
/*-------------------------------------------
Information
-------------------------------------------*/
#information {
	margin-top: 280px;
}

#information .info_bg{
	margin: 0 auto;
	width: 50%;
}

#information .bg-bk{
	width: 50%;
}

/*-------------------------------------------
Gallery
-------------------------------------------*/
.wrapper {
  max-width: 800px;
  margin-left: 55px;
}

#gallery .section-title {
  display: block;
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 45px;
  margin-left: 0;
  text-align: left;
}

#gallery .list {
  position: relative;
  max-width: 800px;
  width: clamp(23.438rem, 12.431rem + 46.961vw, 50rem);
  height: clamp(50rem, 37.569rem + 53.039vw, 80rem);
  overflow: hidden;
 }

#gallery .list li.flower1{
  bottom: 0;
  right: -6px;
  width: clamp(13rem, 4.927rem + 24.309vw, 24.375rem);
}
#gallery .list li.flower2{
  bottom: -13px;
  left: -29px;
  width: clamp(14.5rem, 6.414rem + 25.967vw, 27.188rem);
}

#gallery .list li.flower3 {
bottom: 163px;
right: 0px;
width: clamp(20rem, 13.370rem + 28.287vw, 36rem);
}

#gallery .list li.flower4 {
left: -62px;
bottom: 247px;
}

#gallery .list li.flower5{
right: -22px;
top: 290px;
width: clamp(16.25rem, 11.200rem + 21.547vw, 28.438rem);
}
#gallery .list li.flower6{
left: -18px;
top: 216px;
width: clamp(21.25rem, 15.138rem + 26.077vw, 36rem);
}
#gallery .list li.flower7 {
right: -21px;
top: -6px;
width: clamp(16.25rem, 11.381rem + 20.773vw, 28rem);
}
#gallery .list li.flower8 {
left: -20px;
top: -8px;
width: clamp(12.5rem, 7.942rem + 19.448vw, 23.5rem);
}

.flower_text {
font-size: 1.5rem;
}

	
	
/*-------------------------------------------
Access
-------------------------------------------*/
#access {
	margin: 0 0 0 auto;
}
/*-------------------------------------------
Contact
-------------------------------------------*/
	
	

/*-------------------------------------------
Footer
-------------------------------------------*/
  footer{
    width: 100%;
    height: 430px;
    background-color: black;
  }

  footer .logo{
    margin: 0 auto ;
    padding-top: 61px;
    font-size: 46px;
    width: 96px;
    line-height: 1;
  }

  footer .fot_nav{
    display: flex;
    justify-content: space-between;
    margin: 43px auto 0;
  }

  footer .fot_nav.mn{
    width: 847px;
  }

  footer .fot_nav.mn p{
    width: 71px;
  }

  footer .fot_nav.mn p a{
    width: 71px;
    font-size: 21px;
  }

  footer .fot_nav.sn{
    width: 365px;
  }

  footer .fot_nav.sn p{
    width: 75px;
  }

  footer .fot_nav.sn p a{
    font-size: 16px;
  }

  footer .comp{
    font-size: 13px;
    margin: 67px 0 0 81%;
  }
}